body
{
	margin: 0;
	font-family: "Verdana", sans-serif;
	background-color: #B5DAE6;
	font-size: 18px;
	cursor: default;
	z-index: 0;
}

#navbar
{
	display: flex;
	justify-content: right;
	background-color: #8DAAB3;
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	z-index: 1;
}

#navbar a
{
	padding: 1em;
	text-align: center;
	background-color: #8DAAB3;
}

#navbar a:hover
{
	cursor: pointer;
	filter: brightness(90%);
}

#body
{
	width: 80%;
	display: block;
	margin: auto;
}

#flex-box
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: none;
}

#flex-box a
{
	width: 12em;
	height: 18em;
	margin: 1em;
	padding-bottom: 1em;
	text-align: center;
	background-color: #8DAAB3;
	border-radius: 1em;
}

#flex-box a img
{
	width: 100%;
	height: 80%;
	object-fit: cover;
	background-color: none;
	border-radius: 1em 1em 0 0;
	margin-bottom: 1em;
}

#flex-box a:hover
{
	cursor: pointer;
	filter: brightness(90%);
}

#flex-box a:hover img
{
	filter: brightness(90%);
}

a:link, a:visited, a:hover, a:active
{
	text-decoration: none;
	color: #000000;
}

.fi
{
	font-size: 2em;
	vertical-align: middle;
}

#links-box
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	align-items: center;
	background-color: none;
}

#links-box a
{
	width: 18em;
	margin: 1em;
	padding: 1em;
	text-align: center;
	background-color: #8DAAB3;
	border-radius: 1em;
}

#links-box a:hover
{
	cursor: pointer;
	filter: brightness(90%);
}

hr
{
	display: block;
  	margin-top: 1em;
  	margin-bottom: 1em;
  	margin-left: auto;
  	margin-right: auto;
  	border-style: solid;
  	border-width: 0px;
}

.lang-text:hover
{
	cursor: pointer;
	background-color: #8DAAB3;
}

#langdiv
{
	font-size: 0.8em;
	text-align: right;
}

#skewb-links-box
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	align-items: center;
	background-color: none;
}

#skewb-links-box a
{
	width: 18em;
	margin: 1em;
	padding: 0.5em 1em;
	text-align: center;
	background-color: #8DAAB3;
	border-radius: 1em;
	display: flex;
	justify-content: center;
  	align-items: center;
}

#skewb-links-box a:hover
{
	cursor: pointer;
	filter: brightness(90%);
}

#skewb-links-box a img
{
	margin-right: 1em;
}

#algs-box
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: none;
}

#algs-box div
{
	width: 14em;
	margin: 0.5em;
	padding: 0.5em;
	text-align: center;
	background-color: #8DAAB3;
	border-radius: 1em;
}

#algs-box div img
{
	width: 13em;
	object-fit: cover;
	background-color: none;
	margin-bottom: 1em;
}

.fi-brands-youtube, .fi-bs-envelope
{
	color: #cc0000;
}

.fi-brands-github
{
	color: #990073;
}